.card{:class => "#{dress.sizing.downcase} #{dress.price} #{dress.fabric.downcase} #{dress.neck_type.downcase} #{dress.sleeve_type.downcase} #{dress.skirt_type.downcase} #{dress.skirt_length.downcase} "}
  %a{:class => "#{"fancybox"} #{"fancybox.ajax"}",:href => dress_path(dress), :rel => "dress gallery"}
    %img{:src => dress.image}/





