= form_for(@dress) do |f|
  - if @dress.errors.any?
    #error_explanation
      %h2
        = pluralize(@dress.errors.count, "error")
        prohibited this dress from being saved:
      %ul
        - @dress.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :source
    %br/
    = f.text_field :source
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :brand
    %br/
    = f.text_field :brand
  .field
    = f.label :sizing
    %br/
    = f.text_field :sizing
  .field
    = f.label :image
    %br/
    = f.text_field :image
  .field
    = f.label :price
    %br/
    = f.text_field :price
  .field
    = f.label :fans
    %br/
    = f.text_field :fans
  .field
    = f.label :fabric
    %br/
    = f.text_field :fabric
  .field
    = f.label :neck_type
    %br/
    = f.text_field :neck_type
  .field
    = f.label :sleeve_type
    %br/
    = f.text_field :sleeve_type
  .field
    = f.label :skirt_type
    %br/
    = f.text_field :skirt_type
  .field
    = f.label :skirt_length
    %br/
    = f.text_field :skirt_length
  .actions
    = f.submit
