<!--
<table>
  <tr>
    <th>Fabric</th>
    <th>Neckline</th>
    <th></th>
  </tr>

<% @dresses.each do |dress| %>
  <tr>
    <td><%= dress.fabric %></td>
    <td><%= dress.neckline %></td>
    <td><%= link_to 'Show', dress %></td>
    <td><%= link_to 'Edit', edit_dress_path(dress) %></td>
    <td><%= link_to 'Destroy', dress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dress', new_dress_path %> 
-->

<div id="filter_bar"></div>

<% @dresses.each do |dress| %>

<%= link_to dress do %>
  <div class="card">
  <%= image_tag("silhouette.jpeg", class:'card_image')%>
 </div>
<% end  %>


<% end %>
