%p#notice= notice


#dress-attibutes
  .dress-image-wrapper
    %img{:src => @dress.image}/
  .info
    %img.logo{:src => "http://assets.bloomingdales.com/img/nav/r09/topnav/l_mainLogo.gif"}/
    %br
    %p
      %b
        = @dress.title
    %p
      by
      = @dress.brand 
      $$$
    %p
      %b Fabric:
      = @dress.fabric    
    %p
      %b Sizing:
      = @dress.sizing  
    %p
      = link_to "Buy", @dress.source, :target => "_blank", :class=> "btn btn-success" 



