%p#notice= notice


#dress-attibutes
  %img.dress-image{:src => @dress.image}/
  .info
    / %img.cdb-logo{:src => "http://assets.bloomingdales.com/img/nav/r09/topnav/l_mainLogo.gif"}/
    / %br
    %p
      %b
        = @dress.title
    %p
      by
      = @dress.brand 
    %p
      %b Fabric:
      = @dress.fabric    
    %p
      %b Sizing:
      = @dress.sizing
    %p
      %b Price rating:
      $$
            
    %p
      = link_to "Buy", @dress.image, :target => "_blank", :class=> "btn btn-success" 

/*https://github.com/jackmoore/zoom*/
:javascript
  $('img.dress-image')
  .wrap('<span style="display:inline-block"></span>')
  .css('display', 'block')
  .parent()
  .zoom();