%p#notice= notice




#dress-attibutes
  %img{:src => @dress.image}/
  .info
    %p
      %b Title:
      = @dress.title
    %p
      %b Brand:
      = @dress.brand
    %p
      %b Sizing:
      = @dress.sizing
    %p
      %b Price:
      = @dress.price
    %p
      %b Fans:
      = @dress.fans    
    %p
      %b Fabric:
      = @dress.fabric 
    %p
      %b Like it?:
      = link_to "BUY!", @dress.source


