!!!
%html
  %head
    %title ClothDB
    = stylesheet_link_tag    "application", :media => "all" 
    = csrf_meta_tags
  %body
    .container
      #header
        %h1
          = link_to 'clothDB', root_path, id: 'logo'
        %h2
          BETA  
      #logo_line
      
      = yield
      
      = javascript_include_tag "application"
    %script{:src => "http://s.skimresources.com/js/40880X1058174.skimlinks.js", :type => "text/javascript"}





