!!!
%html
  %head
    %title ClothDB
    = stylesheet_link_tag    "application", :media => "all" 
    = csrf_meta_tags
  %body
    .container
      #header
        .logo-box
          = link_to root_path do
            =image_tag "logo.png", :class => "cdb"
          / %img.cdb{:src => "logo.png", :class => "animated tada"}/

        .beta-box
          %h2
            beta 
      #logo_line
      
      = yield
      
      = javascript_include_tag "application"
      = yield :javascripts
    %script{:src => "http://s.skimresources.com/js/40880X1058174.skimlinks.js", :type => "text/javascript"}





